In [2]:
import pandas as pd
import requests
import json

import time

In [3]:
loc = r'./stats/'
season = '2021-22'

# Request offensive data from NBA API

Requests specifically data from the season defined above

In [14]:
headers = {
    'Accept': 'application/json, text/plain, */*',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/97.0.4692.71 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-site',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://www.nba.com/'
}

r = requests.get('https://stats.nba.com/stats/leaguedashplayerstats?College=&Conference=&Country=&DateFrom=&DateTo=&Division=&DraftPick=&DraftYear=&GameScope=&GameSegment=&Height=&LastNGames=0&LeagueID=00&Location=&MeasureType=Base&Month=0&OpponentTeamID=0&Outcome=&PORound=0&PaceAdjust=N&PerMode=PerGame&Period=0&PlayerExperience=&PlayerPosition=&PlusMinus=N&Rank=N&Season=' + season + '&SeasonSegment=&SeasonType=Regular+Season&ShotClockRange=&StarterBench=&TeamID=0&TwoWay=0&VsConference=&VsDivision=&Weight=', headers=headers, timeout=10)

In [52]:
r_dict = json.loads(r.content)

data = r_dict['resultSets'][0]['rowSet']
columns = r_dict['resultSets'][0]['headers']

df = pd.DataFrame(data=data, columns=columns)
df.drop(columns=df.columns[31:], inplace=True)
df.drop(columns=['NICKNAME', 'TEAM_ID', 'TEAM_ABBREVIATION'], inplace=True)

df

,PLAYER_ID,PLAYER_NAME,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,...,DREB,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS
0,203932,Aaron Gordon,26.0,47,26,21,0.553,31.7,5.6,10.8,...,3.9,5.6,2.5,1.8,0.7,0.6,0.7,1.9,2.7,14.5
1,1630565,Aaron Henry,22.0,6,6,0,1.000,2.8,0.2,0.8,...,0.2,0.2,0.0,0.3,0.0,0.3,0.3,0.3,0.0,0.3
2,1628988,Aaron Holiday,25.0,39,18,21,0.462,15.7,2.3,5.0,...,1.4,1.6,1.8,0.9,0.5,0.2,0.2,1.5,1.1,5.8
3,1630174,Aaron Nesmith,22.0,36,20,16,0.556,10.4,1.2,3.3,...,1.4,1.7,0.3,0.6,0.3,0.1,0.0,1.3,0.5,3.3
4,1630598,Aaron Wiggins,23.0,31,8,23,0.258,21.9,2.7,5.6,...,2.6,3.5,1.1,0.9,0.7,0.2,0.3,1.8,1.2,7.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
585,1630582,Yves Pons,22.0,7,6,1,0.857,3.2,0.1,0.4,...,0.4,0.7,0.0,0.0,0.0,0.0,0.1,0.3,0.3,0.4
586,203897,Zach LaVine,26.0,44,29,15,0.659,34.3,8.8,18.2,...,4.5,4.8,4.3,2.8,0.7,0.4,0.9,1.7,3.6,24.7
587,1630192,Zeke Nnaji,21.0,35,21,14,0.600,15.7,2.3,4.3,...,2.3,3.6,0.3,0.5,0.3,0.3,0.5,1.9,1.2,6.6
588,1630533,Ziaire Williams,20.0,34,21,13,0.618,21.4,2.8,6.6,...,1.6,1.9,0.9,0.6,0.5,0.2,0.3,1.9,0.7,7.2
589,1629597,Zylan Cheatham,26.0,1,0,1,0.000,5.2,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Get top percentile of players

Only uses the top x percentile to get H2H data from

In [55]:
percentile = 0.5

off_df = df.copy()
# off_df = off_df[off_df['PTS'] > df.quantile(q=percentile)['PTS']]
print('Number of over ' + str(percentile * 100) + 'th percentile players: ' + str(off_df.shape[0]))
print('Minimum time to complete: ' + str(format(off_df.shape[0] * 10 / 60, '.1f')) + ' minutes')
print('Estimated time to complete: ' + str(format(off_df.shape[0] * 10.5 / 60, '.1f')) + ' minutes')

# Set season ID
off_df['SEASON_ID'] = '220' + season[2:4]

off_df.head()

Number of over 50.0th percentile players: 590
Minimum time to complete: 98.3 minutes
Estimated time to complete: 103.2 minutes

,PLAYER_ID,PLAYER_NAME,AGE,GP,W,L,W_PCT,MIN,FGM,FGA,...,REB,AST,TOV,STL,BLK,BLKA,PF,PFD,PTS,SEASON_ID
0,203932,Aaron Gordon,26.0,47,26,21,0.553,31.7,5.6,10.8,...,5.6,2.5,1.8,0.7,0.6,0.7,1.9,2.7,14.5,22021
1,1630565,Aaron Henry,22.0,6,6,0,1.000,2.8,0.2,0.8,...,0.2,0.0,0.3,0.0,0.3,0.3,0.3,0.0,0.3,22021
2,1628988,Aaron Holiday,25.0,39,18,21,0.462,15.7,2.3,5.0,...,1.6,1.8,0.9,0.5,0.2,0.2,1.5,1.1,5.8,22021
3,1630174,Aaron Nesmith,22.0,36,20,16,0.556,10.4,1.2,3.3,...,1.7,0.3,0.6,0.3,0.1,0.0,1.3,0.5,3.3,22021
4,1630598,Aaron Wiggins,23.0,31,8,23,0.258,21.9,2.7,5.6,...,3.5,1.1,0.9,0.7,0.2,0.3,1.8,1.2,7.4,22021

# Get H2H data for each player

Retrieves data from NBA.com based on each player ID

Takes a long time to grab all data as there is a 10 second delay between requests to avoid being ip banned from NBA.com

In [ ]:
h2h_df = None
created = False
i = 1

for ID in off_df['PLAYER_ID']:
    print(ID, end = '')
    r = requests.get('https://stats.nba.com/stats/leagueseasonmatchups?DateFrom=&DateTo=&LeagueID=00&OffPlayerID=' + str(ID) + '&Outcome=&PORound=0&PerMode=Totals&Season=' + season + '&SeasonType=Regular+Season', headers=headers, timeout=10)
    
    # Verbose
    print('...done! [' + str(i) + '/' + str(off_df.shape[0]) + ']')
    i += 1
    
    r_dict = json.loads(r.content)
    data = r_dict['resultSets'][0]['rowSet']
    columns = r_dict['resultSets'][0]['headers']
    
    if created == False:
        h2h_df = pd.DataFrame(data = data, columns = columns)
        created = True
    else:
        combine = pd.DataFrame(data=data, columns=columns)
        h2h_df = h2h_df.append(combine, ignore_index = True)
    time.sleep(10)
    
h2h_df

201142Wall time: 851 ms
...done! [1/127]
203954Wall time: 550 ms
...done! [2/127]
203507Wall time: 513 ms
...done! [3/127]
1629027Wall time: 398 ms
...done! [4/127]
201942Wall time: 516 ms
...done! [5/127]
1629630Wall time: 791 ms
...done! [6/127]
1629029Wall time: 439 ms
...done! [7/127]

In [34]:
h2h_df.to_csv(loc + season + '_' + str(percentile) + '_h2h_stats.csv', index=False)

**Export as .csv**

Run to export as a csv file

In [57]:
off_df.to_csv(loc + season + '_' + str(percentile) + '_off_stats.csv', index=False)